build-Debug
Debug
./Makefile
Exercise02/*.txt
Exercise02/*.mk
Exercise04/*.txt
Exercise04/*.mk
Exercise05/*.txt
Exercise05/*.mk
Exercise06/*.txt
Exercise06/*.mk
Exercise07/*.txt
Exercise07/*.mk
Release
Release_gcc_unicode
DebugUnicode
Makefile
*.session
*.tags
*.d
*.o
*.pyc
*.lib
*.a
bin
bin/ofMaker
lib
.codelite
.build-debug
*.mk
*.workspace.session

